[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sh = "*"
colorama = "*"
sqlfluff = "*"
pylint = "*"
requests = "*"
pre-commit = "*"

[dev-packages]

[requires]
python_version = "3.9"
